.checkout {}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout__ad {
    width: 100%;
    margin-bottom: 15px;
}

.checkout__empty>h4 {
    margin-bottom: 4px;
    font-weight: 600;
    color: #297575;
    font-size: 20px;
}

.checkout__empty>p {
    font-weight: 600;
    color: #297575;
}