.header {
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__menuIcon {
    margin: 5px 7px 5px 7px;
    padding: 5px 8px 5px 8px;
    font-size: 25px;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #666;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 10px 15px 0px 12px;
}

.header__optionBasket {
    display: flex;
    align-items: center;
}

.header__optionBasketCount {
    margin-top: 10px;
    margin-right: 10px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionLineOne {
    font-size: 10px;
}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header__link {
    color: white;
    text-decoration: none;
}

.header__search {
    display: flex;
    flex: 1;
}
.mobile_header__search{
    display: none;
}
.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon {
    background-color: #cd9042;
    padding: 5px;
    height: 22px !important;
}

@media screen and (min-width: 360px) and (max-width: 640px) {
    .header {
        width: 100%;
        height: 7vh;
        margin: 0!important;
    }
    .header .header__menuIcon {
        float: left;
        padding: 2px 2px 2px 2px;
    }
    .header__logo {
        width: 50px;
        object-fit: contain;
        margin: 8px 0px 0px 0px;
    }
    .header__search{
        display: none;
    }
    .mobile_header__search {
        display: flex;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 2px;
        padding: 2px 10px 5px 10px;
        background-color: #131921
    }
    .mobile_header__link {
        display: none;
    }
    .header__optionLineTwo {
        font-size: 12px;
    }
}